@import url(http://fonts.googleapis.com/css?family=Nunito:300);

body {
  font-family: "Nunito", sans-serif;
}

#loginform {
  width: 260px;
  padding: 13px;
}

div.login {
  margin-bottom: 10px;
}

div.remember {
  position: relative;
  left: 1px;
}

section#billboard {
  margin-bottom: 0;
}

section#whatwedo {
  background-color: white;
}

.navbar-static-top {
  margin-bottom: 0;
}

.btn-primary {
  border: none;
}